{% extends 'base.html' %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}
<a class="leave" href="{% url 'leave' %}">Leave game</a>
<div id="game">
  <Game />
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js" integrity="sha512-RjPwl9YNS2z4nf50767Vg8dW2WLVv8WmKMYhZVBgiCJaiGVNIjXcVcpzVLUzuojaUM5ACZefP6sXnaWkR0lj0w==" crossorigin="anonymous"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
<script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.0.0-beta.6"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="{% static 'game/use-api.js' %}" type="text/babel"></script>
<script src="{% static 'game/game.js' %}" type="text/babel"></script>
{% endblock %}