{% extends 'base.html' %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}
<a class="leave" href="{% url 'leave' %}">Leave game</a>
<div id="game">
  <Game />
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
<script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.0.0-beta.6"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="{% static 'game/use-api.js' %}" type="text/babel"></script>
<script src="{% static 'game/game.js' %}" type="text/babel"></script>
{% endblock %}